<html>
    {%load static%}
<!DOCTYPE html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <!--Placeholder title for now-->
        <title>Project</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="{% static '/styles.css' %}" rel = "stylesheet" type = "text/css"> <!--Connect styles.css-->
    <link href="https://fonts.googleapis.com/css?family=Raleway:300,400,600" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">

    </head>    
    
<body>
<nav class="navbar navbar-expand-lg navbar-light navbar-laravel">
    <div class="container">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto">
				<li class="nav-item">
                    <a class="nav-link " href="main.html" >Profile</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="#" >Fuel Quote</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link " href="FuelHistory.html">Fuel History</a>
                </li>
				
                <li class="nav-item">
                    <a class="nav-link " href="logout">Logout</a>
                </li>
            </ul>

        </div>
    </div>
</nav>

<main class="Order-form">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="card">
                    <div class="card-header">Fuel Quote Form</div>
                    <div class="card-body">
                       <H1>
                           {% block content %}
                           Your quote is successfully placed. Your quote number is {{quoteNo}}
                           {% endblock %}
                       </H1>

                    </div>
                </div>
            </div>
        </div>
    </div>

</main>







</body>
</html>


