<html>
    {%load static%}
<!DOCTYPE html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <!--Placeholder title for now-->
        <title>Project</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="{% static '/styles.css' %}" rel = "stylesheet" type = "text/css"> <!--Connect styles.css-->
    <link href="https://fonts.googleapis.com/css?family=Raleway:300,400,600" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

    </head>    
    
    <body>
<nav class="navbar navbar-expand-lg navbar-light navbar-laravel">
    <div class="container">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto">
				<li class="nav-item">
                    <a class="nav-link " href="ProfileManagement.html" >Profile</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="#" >Fuel Quote</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link " href="FuelHistory.html">Fuel History</a>
                </li>
				
                <li class="nav-item">
                    <a class="nav-link " href="logout">Logout</a>
                </li>
            </ul>

        </div>
    </div>
</nav>

<main class="login-form">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="card">
                    <div class="card-header">Fuel Quote Form</div>
                    <div class="card-body">
                        {% for message in messages %}
                        <h6>{{message}}</h6>
                        {% endfor %}
                        <form action="confirmQuote" method="Get">
							<div class="form-group row">
                                <label for="gallonsReq" class="col-md-4 col-form-label text-md-right">Gallons Requested</label>
                                <div class="col-md-6">

                                    <input type="number" id="gallonsReq" class="form-control" placeholder="numbers only, required" name="gallonsReq" value = {{gallonsReq}} required >
                                </div>
                            </div>
							
                            <div class="form-group row">
                                <label for="DeliveryAddress" class="col-md-4 col-form-label text-md-right">Delivery Address</label>
                                <div class="col-md-6">
                                    <input type="text" id="deliveryAddress"  class="form-control" value="{{DeliveryAddress}}" autocomplete="off" name="deliveryAddress" required autofocus readonly>
                                </div>
                            </div>
							  <div class="form-group row">
                                <label for="DeliveryDate" class="col-md-4 col-form-label text-md-right">Delivery Date</label>
                                <div class="col-md-6">
                                    <input type="date" id="deliverydate" class="form-control"  name="deliverydate" value = "{{deliverydate}}" required="true">
                                </div>
                            </div>
							
					
							<div class="form-group row">
                                <label for="Price" class="col-md-4 col-form-label text-md-right">Price / gallon</label>
                                <div class="col-md-6">
                                    <input type="numbers" id="price" class="form-control" placeholder = "{{enterprice}}" value="{{Price}}"  name="price" required autofocus readonly>
                                </div>
                            </div>
                           
                            <div class="form-group row">
                                <label for="AmountDue" class="col-md-4 col-form-label text-md-right">Total Amount Due</label>
                                <div class="col-md-6">
                                   <p><input type="numbers" name="AmountDue" value="{{AmountDue}}" id = "AmountDue"  required readonly></p>
									</p> 
                                </div>
                            </div>

                            <div class="col-md-6 offset-md-4">
                                <button id= "Submit" title="Get quote first then submit quote" type="submit" class="btn btn-primary">
                                    Submit
                                </button>
                               
                            </div>
                            <div class="col-md-6 offset-md-6">
                                <button type="submit" class="btn btn-primary" formmethod = "GET" formaction = "getQuote">
                                    Get Quote
                                </button>
                               
                            </div>
                    </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    </div>

</main>







</body>


<script>

// $('#Submit').prop('disabled',true)



        // $('#AmountDue').on('input',
            console.log("changing")
            if ($('#AmountDue').val() == '')
                {
                    $('#Submit').prop('disabled',true)

}
            else
            {
                $('#Submit').prop('disabled',false)


            }

           
        // );
   
    </script>
</html>




