{%load static%}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <!--Placeholder title for now-->
        <title>Project</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="{% static '/styles.css' %}" rel = "stylesheet" type = "text/css"> <!--Connect styles.css-->
    <link href="https://fonts.googleapis.com/css?family=Raleway:300,400,600" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">

    </head>
 <body>

<nav class="navbar navbar-expand-lg navbar-light navbar-laravel">
    <div class="container">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto">
				<li class="nav-item">
                    <a class="nav-link active" href="#" >Profile</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link " href="FuelQuote.html" >Fuel Quote</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link " href="FuelHistory.html">Fuel History</a>
                </li>
				
                <li class="nav-item">
                    <a class="nav-link " href="logout">Logout</a>
                </li>
            </ul>

        </div>
    </div>
</nav>
<!--Add Functionality to pull current user's Profile Info from database in Assignment 4-->
{% if user.is_authenticated%}
<h4>{{message}}</h4>
{{ user.get_username |json_script:'Email' }}
{{ profile.name|json_script:'Name' }}
{{ profile.address1|json_script:'Address1' }}
{{ profile.address2|json_script:'Address2' }}
{{ profile.state|json_script:'State' }}
{{ profile.city|json_script:'City' }}
{{ profile.zipcode|json_script:'Zipcode' }}

{% endif %}
<main class="login-form">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="card">
            
                    <div class="card-header">Profile Management Form</div>
                    <div class="card-body">
                        <form action="ProfileManagement.html" method="POST">
                            {% csrf_token %}
                            <div class="form-group row">
                                <label for="Email" class="col-md-4 col-form-label text-md-right">Username</label>
                                <div class="col-md-6">
                                    <input type="text" id="email"  class="form-control" placeholder="maximum 50, required" name="firstname" required autofocus disabled="True">
                                </div>
                            </div>
							<div class="form-group row">
                                <label for="FirstnameLabel" class="col-md-4 col-form-label text-md-right">Full Name</label>
                                <div class="col-md-6">
                                    <input type="text" id="firstname"  class="form-control" placeholder="maximum 50, required" name="firstname" required autofocus>
                                </div>
                            </div>
							
                            <div class="form-group row">
                                <label for="Address1" class="col-md-4 col-form-label text-md-right">Address Line 1</label>
                                <div class="col-md-6">
                                    <input type="text" id="address1" class="form-control" placeholder="maximum 100, required" name="address1" required autofocus>
                                </div>
                            </div>
							  <div class="form-group row">
                                <label for="Address2" class="col-md-4 col-form-label text-md-right">Address Line 2</label>
                                <div class="col-md-6">
                                    <input type="text" id="address2" class="form-control" placeholder="maximum 50, optional" name="address2" autofocus>
                                </div>
                            </div>
							 <div class="form-group row">
                                <label for="stateLabel" class="col-md-4 col-form-label text-md-right">State</label>
                                <div class="col-md-6">
                                    <p>
                    <select name = "state" id="state" required="required"> <!--Drop down menu, below are options-->
                        <option value = "">Please select a state...</option>
                         <option value="AL">  AL</option> 
                        <option value="AK">AK</option>
                        <option value="AR">AR</option>
                        <option value="AZ">AZ</option>
                        <option value="CA">CA</option>
                        <option value="CO">CO</option>
                        <option value="CT">CT</option>
                        <option value="DC">DC</option>
                        <option value="DE">DE</option>
                        <option value="FL">FL</option>
                        <option value="GA">GA</option>
                        <option value="HI">HI</option>
                        <option value="IA">IA</option>
                        <option value="ID">ID</option>
                        <option value="IL">IL</option>
                        <option value="IN">IN</option>
                        <option value="KS">KS</option>
                        <option value="KY">KY</option>
                        <option value="LA">LA</option>
                        <option value="MA">MA</option>
                        <option value="MD">MD</option>
                        <option value="ME">ME</option>
                        <option value="MI">MI</option>
                        <option value="MN">MN</option>
                        <option value="MO">MO</option>
                        <option value="MS">MS</option>
                        <option value="MT">MT</option>
                        <option value="NC">NC</option>
                        <option value="NE">NE</option>
                        <option value="NH">NH</option>
                        <option value="NJ">NJ</option>
                        <option value="NM">NM</option>
                        <option value="NV">NV</option>
                        <option value="NY">NY</option>
                        <option value="ND">ND</option>
                        <option value="OH">OH</option>
                        <option value="OK">OK</option>
                        <option value="OR">OR</option>
                        <option value="PA">PA</option>
                        <option value="RI">RI</option>
                        <option value="SC">SC</option>
                        <option value="SD">SD</option>
                        <option value="TN">TN</option>
                        <option value="TX">TX</option>
                        <option value="UT">UT</option>
                        <option value="VT">VT</option>
                        <option value="VA">VA</option>
                        <option value="WA">WA</option>
                        <option value="WI">WI</option>
                        <option value="WV">WV</option>
                        <option value="WY">WY</option>
								</select>
							</p>
						</p>
                                </div>
                            </div>
					
							<div class="form-group row">
                                <label for="city" class="col-md-4 col-form-label text-md-right">City</label>
                                <div class="col-md-6">
                                    <input type="text" id="city"  class="form-control" placeholder="100 characters, required" name="city" required autofocus>
                                </div>
                            </div>
                           
                            <div class="form-group row">
                                <label for="zipcode" class="col-md-4 col-form-label text-md-right">Zip Code</label>
                                <div class="col-md-6">
                                   <p><input pattern = "[0-9]*" minlength="5" maxlength="9" placeholder="5-9 Characters" type="number"  name="zipcode" id = "zipcode"  required="required"></p>
									</p> 
                                </div>
                            </div>

                            <div class="col-md-6 offset-md-4">
                                <button type="submit" class="btn btn-primary">
                                    Save
                                </button>
                               
                            </div>
                    </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    </div>

</main>







</body>

<script type="text/javascript"> 
    document.getElementById("email").value = JSON.parse(document.getElementById('Email').text);
    document.getElementById("firstname").value = JSON.parse(document.getElementById('Name').text);
    document.getElementById("address1").value = JSON.parse(document.getElementById('Address1').text);
    document.getElementById("address2").value = JSON.parse(document.getElementById('Address2').text);
    document.getElementById("city").value = JSON.parse(document.getElementById('City').text);
    document.getElementById("zipcode").value = JSON.parse(document.getElementById('Zipcode').text);
    document.getElementById("state").value = JSON.parse(document.getElementById('State').text);
  </script>
</html>

